<!DOCTYPE html>
<html>
<head>
  <title>Download Student File</title>
</head>
<body>
  <h1>File Uploaded Successfully!</h1>
  <p><a href="/download/<%= filename %>">Download File</a></p>
</body>
</html>
